<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ruterLinkActive = "active" [routerLink]="['/dashboard/overview']">Erinvale Portal</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/login">
                        Login
                    </a>
                </li>
                <li>
                    <a routerLink="/register">
                        Register
                    </a>
                </li>
                <li>
                    <a routerLink="/contact">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="green" data-image="../../assets/img/background/background-1.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

                        <form>
                            <div class="card" data-background="color" data-color="blue">
                                <div *ngIf="loading">
                                    <div class="loading-box">
                                        
                                        <div class="card-header">
                                            <h3 class="card-title">Submitting</h3>
                                            <p>Please wait...</p>
                                        </div><br><br>
                                        <div class="spinner-outer">
                                            <div class="spinner-box la-ball-clip-rotate-pulse la-dark la-2x">
                                                <div></div>
                                                <div></div>
                                            </div>                                    
                                        </div>

                                    </div>
                                </div>

                                <div *ngIf="!loading">
                                    <div class="card-header">
                                        <h3 class="card-title">Contact Us</h3>
                                    </div>
                                    <div class="card-content">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" placeholder="Your name" class="form-control input-no-border" [(ngModel)]="name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" placeholder="Your email" class="form-control input-no-border" [(ngModel)]="email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Message</label>
                                            <textarea type="text" placeholder="Your enquiry or message" class="form-control input-no-border" [(ngModel)]="message" name="message">{{message}}</textarea>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button class="btn btn-fill btn-wd " (click)="submit($event)" (keyup.enter)="submit($event)">Submit</button><br><br>
                                    </div>
                                </div>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    &copy; {{test | date: 'yyyy'}} created by Emerge Digital
                </div>
            </div>
        </footer>
    </div>
</div>
