<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div *ngIf="loading" style="padding: 30px;">
                            <div class="spinner-outer">
                                <h4>Fetching Data</h4>
                                <p>Please wait...</p><br>
                                <div class="spinner-box la-ball-clip-rotate-pulse la-dark la-2x">
                                    <div></div>
                                    <div></div>
                                </div>                                    
                            </div>
                        </div>
                        <div *ngIf="!loading && tableData1 !== {}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card-header">
                                        <h4 class="card-title">Download</h4>
                                        <p class="category">All Downloads</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card-header text-right">
                                        
                                        <h4 class="card-title">User Group</h4>
                                        <div class="pull-right">
                                            <div class="dropdown" style="max-width: 140px; cursor: pointer;">
                                                <button href="#" class="btn btn-block dropdown-toggle" data-toggle="dropdown">
                                                    {{user_type.name}}
                                                    <b class="caret"></b>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a (click)="changeUserType('Golf Member')">Golf Member</a></li>
                                                    <li><a (click)="changeUserType('Resident')">Resident</a></li>
                                                    <li *ngIf="user_type.value !== 'AllUsers'"><a (click)="changeUserType('All Users')">All</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content table-responsive table-full-width">
                                <table class="table">
                                        <thead>
                                            <tr>
                                            <th>{{ tableData1.headerRow[0] }}</th>
                                            <th>{{ tableData1.headerRow[1] }}</th>
                                            <th>{{ tableData1.headerRow[2] }}</th>
                                            <th>{{ tableData1.headerRow[3] }}</th>
                                            <th>{{ tableData1.headerRow[4] }}</th>
                                            </tr>
                                        </thead>
                                    <tbody *ngIf="tableData1 && tableData1.dataRows">
                                        <tr *ngFor="let row of tableData1.dataRows">
                                            <td><button class="btn btn-success btn-fill btn-wd" (click)="saveFile(row[0], row[5])">Download</button></td>
                                            <td>{{row[1]}}</td>
                                            <td>{{row[2]}}</td>
                                            <td>{{row[3]}}</td>
                                            <td>
                                                <span class="green-fill" *ngIf="row[4] === false">Published</span>
                                                <span class="red-fill" *ngIf="row[4] === true">Archived</span>
                                                
                                            </td>
                                            <td class="td-actions text-right">
                                                <!-- <a rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                    <i class="ti-user"></i>
                                                </a> -->
                                                <a (click)="edit(row)" rel="tooltip" title="Edit File" class="btn btn-info btn-simple btn-xs">
                                                    <i class="ti-pencil-alt"></i>
                                                </a>
                                                <a (click)="toggleArchive(row)" rel="tooltip" [title]="row[4] ? 'Unarchive' : 'Archive'" [class]="'btn btn-simple btn-xs ' + (row[4] === true ? 'btn-success' : 'btn-danger')" class="">
                                                    <i class="ti-archive"></i>
                                                </a>
                                                <a *ngIf="row[4] === true" (click)="confirmDelete(row)" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="ti-close"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="!loading && (!tableData1 || downloads && downloads.length <= 0)">
                            <div class="spinner-outer" style="padding: 30px">
                                <h4>No Downloads to Display</h4>
                                <p>Please try again.</p><br>                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>