<div class="main-content">
    <div class="container-fluid">
        <div class="card" *ngIf="loading" >
            <div style="padding: 30px;">
                <div class="spinner-outer">
                    <h4>Fetching Data</h4>
                    <p>Please wait...</p><br>
                    <div class="spinner-box la-ball-clip-rotate-pulse la-dark la-2x">
                        <div></div>
                        <div></div>
                    </div>                                    
                </div>
            </div>
        </div>
        <div *ngIf="!loading">
            <div *ngIf="!showAttending">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-content-md">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4>Welcome back,</h4>
                                        <p>{{auth.current_user.first_name}} {{auth.current_user.last_name}}</p>
                                    </div>
                                    <!-- <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Capacity</p>
                                            105GB
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-face-smile"></i> Good to see you!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-content-md">
                                <div class="row" style="padding-top: 25px;">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-bell"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Notifications</p>
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-star"></i> Useen notifications
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" rel="tooltip" title="View new events">
                            <a routerLink="/calendar" class="card-a"><div class="card-content-md">
                                <div class="row" style="padding-top: 25px;">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-calendar"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>New Events</p>
                                            <span>{{data.new_events.length}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-timer"></i> In the last week
                                </div>
                            </div></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" rel="tooltip" title="View events you are attending">
                            <a (click)="showAttending = true" class="card-a"><div class="card-content-md">
                                <div class="row" style="padding-top: 25px;">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-check-box"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Attending Events</p>
                                            <span>{{data.my_events.length}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated now
                                </div>
                            </div></a>
                        </div>
                    </div>
                </div>
                
                <div class="row row-eq-height">
                    <!-- Upcoming Events -->
                        <div class="col-lg-6">
                            <div class="card">                    
                                <div class="card-content">                            
                                    <h4 class="card-title">Upcoming Events</h4>
                                    <hr>
                                    <div class="row" *ngIf="data.events.length > 0"> 
                                        <div class="col-md-12" *ngFor="let event of data.events">
                                            <a (click)="eventClicked(event)"><div [class]="getClass(event)">
                                                <div class="event-card card-content">
                                                    
                                                    <h4 class="card-title">{{event.title}}<br />
                                                        <small>{{event.subtitle}}</small>
                                                    </h4>
                                                    <hr>
                                                    <b>Date Start: </b>{{getDate(event.date_start)}}<br>
                                                    <b>Date End: </b>{{getDate(event.date_end)}}
                                                </div>
                                            </div></a> 
                                        </div> 
                                    </div>
                                    <div style="padding-top: 20px; padding-bottom: 20px;" *ngIf="data.events.length === 0">
                                        <h5>There are no current events</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Latest News -->
                        <div class="col-lg-6">
                            <div class="card">                    
                                <div class="card-content">     
                                    <h4 class="card-title">Latest News</h4>
                                    <hr>
                                    <div class="row"> 
                                        <div class="col-md-12" *ngFor="let post of data.posts">
                                            <a (click)="newsClicked(post)"><div class="card card-user news-card">
                                                <div class="card-content-sm">
                                                    <div class="row">
                                                        <div class="col-xs-7">
                                                            <h4 class="card-title">{{post.title}}<br />
                                                                <a href="#"><small>{{post.subtitle}}</small></a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="text-left" style="padding: 10px;">
                                                    <p style="text-overflow: ellipsis; overflow: hidden;">{{unescape(post.text)}}</p>
                                                </div>
                                            </div></a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div *ngIf="permissions.getAccountType() === 'Admin'">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="card card-circle-chart" data-background-color="brown">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="numbers pull-left">
                                                {{getTotalAccounts()}} new users
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="pull-right">
                                                <!-- <span class="label label-danger">
                                                    -14%
                                                </span> TODO later, compare historically?-->
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="big-title">total subscriptions <span style="color: red">in last</span> 7 days</h6>
                                    <div id="chartTotalSubscriptions"></div>
                                </div>
                                <div class="card-footer">
                                    <hr>
                                    <div class="footer-title">Add new member</div>
                                    <div class="pull-right">
                                        <button routerLink="/users/add"class="btn btn-danger btn-fill btn-icon btn-sm">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-circle-chart" data-background-color="orange">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="numbers pull-left">
                                                {{getTotalUsers()}} total users
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="pull-right">
                                                <!-- <span class="label label-danger">
                                                    -14%
                                                </span> TODO later, compare historically?-->
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="big-title">total users</h6>
                                    <div id="chartAccountTypes"></div>
                                </div>
                                <div class="card-footer">
                                    <hr>
                                    <div class="footer-title">View all members</div>
                                    <div class="pull-right">
                                        <button routerLink="/users/list" class="btn btn-info btn-fill btn-icon btn-sm">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="showAttending">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="card">            
                                <div class="card-content">                            
                                    <h4 class="card-title"><button (click)="showAttending = false" type="button" class="btn btn-wd btn-default btn-fill btn-move-left">
                                            <span class="btn-label">
                                                <i class="ti-angle-left"></i>
                                            </span>
                                            Back
                                        </button>&nbsp;&nbsp;Attending Events</h4>
                                    <hr>
                                    <div class="row"> 
                                        <div class="col-md-12" *ngFor="let event of data.my_events">
                                            <a (click)="eventClicked(event)"><div [class]="getClass(event)">
                                                <div class="event-card card-content">
                                                    
                                                    <h4 class="card-title">{{event.title}}<br />
                                                        <small>{{event.subtitle}}</small>
                                                    </h4>
                                                    <hr>
                                                    <b>Date Start: </b>{{getDate(event.date_start)}}<br>
                                                    <b>Date End: </b>{{getDate(event.date_end)}}
                                                </div>
                                            </div></a> 
                                        </div> 
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="numbers pull-left">
                                    $34,657
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-success">
                                        +18%
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h6 class="big-title">total earnings <span class="text-muted">in last</span> ten <span class="text-muted">quarters</span></h6>
                        <div id="chartTotalEarnings"></div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="footer-title">Financial Statistics</div>
                        <div class="pull-right">
                            <button class="btn btn-info btn-fill btn-icon btn-sm">
                                <i class="ti-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="numbers pull-left">
                                    169
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-danger">
                                        -14%
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h6 class="big-title">total subscriptions <span class="text-muted">in last</span> 7 days</h6>
                        <div id="chartTotalSubscriptions"></div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="footer-title">View all members</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="numbers pull-left">
                                    8,960
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-warning">
                                        ~51%
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h6 class="big-title">total downloads <span class="text-muted">in last</span> 6 years</h6>
                        <div id="chartTotalDownloads" ></div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="footer-title">View more details</div>
                        <div class="pull-right">
                            <button class="btn btn-success btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="blue">
                    <div class="card-header text-center">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="description">Monthly sales target</p>
                    </div>
                    <div class="card-content">
                        <div id="chartDashboard" class="chart-circle" data-percent="70">70%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="green">
                    <div class="card-header text-center">
                        <h5 class="card-title">Orders</h5>
                        <p class="description">Completed</p>
                    </div>
                    <div class="card-content">
                        <div id="chartOrders" class="chart-circle" data-percent="34">34%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="orange">
                    <div class="card-header text-center">
                        <h5 class="card-title">New Visitors</h5>
                        <p class="description">Out of total number</p>
                    </div>
                    <div class="card-content">
                        <div id="chartNewVisitors" class="chart-circle" data-percent="62">62%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="brown">
                    <div class="card-header text-center">
                        <h5 class="card-title">Subscriptions</h5>
                        <p class="description">Monthly newsletter</p>
                    </div>
                    <div class="card-content">
                        <div id="chartSubscriptions" class="chart-circle" data-percent="10">10%</div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
